$primary: #202020;
$secondary: #af8a1e;
$accent: #dcc539;
$error: #ffeb3b;
$warning: #ffc107;
$info: #ff5722;
$success: #92ddff;
$disable: #888;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1264px,
  xl: 1904px,
) !default;

$body-font-family: "Sawarabi Gothic", sans-serif;
$accent-font-family: "Noto Serif JP", serif;
